<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="anyName" verbose="1">
    <test name="TestNG">
        <groups>
            <run>
                <include name="List" />
                <include name="Average" />
            </run>
        </groups>
        <classes>
            <class name="HomeWork.TestNG"/>
        </classes>
    </test>
</suite>